@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
    /*===============================================================*/
    /*Color*/
    /*===============================================================*/
    --color-background: #fffcf9;
    --color-foreground: #101010;
    --color-i-green: #20bd6b;
    --color-i-purple: #bd89f4;
    --color-i-red: #f16b75;
    --color-i-yellow: #f4cc3d;
    --color-i-orange: #ea7546;
    --color-i-blue: #73a3f5;

    /*===============================================================*/
    /*Fonts*/
    /*===============================================================*/

    --font-sans-regular: normal-font;
    --font-sans-italic: normal-italic;
    --font-sans-bold: normal-bold;
    --font-sans-bold-italic: normal-bold-italic;
    --font-sans-spec: spec-font;
    --font-sans-spec36: spec-36;
    --font-sans-spec60: spec-60;

    /*Font Size*/
    --text-heading: 45px;
    --text-normal: 20px;
    --text-small: 15px;
    --text-box: 15px;
    --text-button: 20px;

    /*===============================================================*/
    /*Border*/
    /*===============================================================*/
    /*Border Color*/
    --color-border-brand: #101010;

    /*===============================================================*/
    /*Card*/
    /*===============================================================*/
    /*Radius*/
    --radius-card: 15px;

    /*Font Size*/
    --text-card-name: 30px;
    --text-card-price: 22px;
    --text-card-des: 20px;
}

@layer components {
    /*===============================================================*/
    /*Page | Content*/
    /*===============================================================*/
    .page-view {
        @apply flex-1;
    }

    .page-content {
        @apply flex-1 px-3;
    }

    .content-normal {
        @apply pt-1 pb-1;
    }
    .content-spec {
        @apply pt-3 pb-3;
    }
    .content-outside {
        @apply mt-2 mb-2;
    }

    /*===============================================================*/
    /*Text*/
    /*===============================================================*/
    .text-heading {
        @apply font-sans-spec36 text-heading;
    }
    .text-normal {
        @apply font-sans-regular text-normal;
    }
    .text-small {
        @apply font-sans-regular text-small;
    }

    .text-box {
        @apply font-sans-regular text-box;
    }

    /*===============================================================*/
    /*Box | Button | Card*/
    /*===============================================================*/
    .box-normal {
        @apply p-2 ps-5 pe-5 border rounded-full border-border-brand;
    }
    .button-normal {
        @apply border rounded-full border-border-brand;
    }

    /*Card*/
    .card-normal {
        @apply p-3 border rounded-card  border-border-brand;
    }
    .card-name {
        @apply text-card-name font-sans-spec36 mt-1 mb-1;
    }
    .card-price {
        @apply text-card-price font-sans-bold;
    }
    .card-des {
        @apply text-card-des font-sans-regular;
    }

    .card-map {
        @apply border rounded-card  border-border-brand;
    }
}
